.footer {
  background-color: #fff;
  padding: 0 1rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8rem; 
  user-select: none;
  position: relative;
  isolation: isolate;
  justify-content: center;
}

.footer-logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  height: 100%;
  width: 100%;
  background: #00c0f3;
  z-index: -1;
}

.footer-logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 33%;
  height: 100%;
  width: 200%;
  background: #00c0f3;
  clip-path: polygon(0 0, 100% 0, calc(100% - 12rem) 100%, 0 100%);
  z-index: -1;
}

.footer-logo a {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-logo-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.footer-links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 30px;
}

.footer-links {
  padding: 1rem;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  text-align: center;
  color: var(--header-color);
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section-title {
  font-weight: bold;
  font-size: 1.25rem; 
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.footer-section-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-section-item {
  cursor: pointer;
  transition: opacity 0.3s ease;
  line-height: 24px;
}

.footer-section-item:hover {
  opacity: 0.7;
}

.footer-copyright {
  color: var(--header-color);
}


@media (min-width: 950px) {
  .footer-content {
    flex-direction: row;
  }

  .footer-logo {
    height: 20rem; 
    width: 24rem; 
  }

  .footer-logo::after {
    width: 100%;
  }

  .footer-logo-img {
    max-width: 100%;
  }

  .footer-links-wrapper {
  padding-top: 76px;
}

  .footer-links {
    flex-direction: row;
    padding: 0 1rem;
  }

  .footer-section {
    text-align: center;
  }

}

