.features {
  width: 100%;
  overflow: hidden; /* Prevent horizontal scroll */
}

.features-container {
  margin: 100px auto;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  max-width: 1440px; 
  width: 100%;
}


@media (max-width: 768px) {
  .features-container {
    padding: 0 30px;
    margin: 50px auto;
    gap: 40px;
  }
}