.features {
  width: 100%;
  overflow: hidden; 
}

.features-container {
  margin: 0 auto;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1440px;
  width: 100%;
}

@media (max-width: 768px) {
  .features-title {
    padding: 0 10px;
    text-align: center;
  }
  .features-container {
    padding: 0 30px;
    gap: 30px;
  }
}

@media (max-width: 600px) {
    .features-container {
    padding: 0;
    gap:0;
  }
}