.about {
  width: 100%;
  overflow: hidden;
}

.about-container {
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1440px;
  width: 100%;
}

.about-comment-wrapper {
  margin-bottom: 170px;
  width: 100%;
  height: auto;
  max-height: 618px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  position: relative;
}

.about-comment-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/comment-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 618px;
  width: 618px;
  top: -30%;
  right: 0%;
  z-index: 2;
}

.about-comment {
  max-width: 1000px;
  padding: 54px 78px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 78px;
  justify-content: flex-start;
  align-items: flex-start;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 20px 0px #10398226;
  background: white; 
  position: relative;
  z-index: 2; 
}

.content {
  max-width: 470px;
  width: 100%;
  line-height: 1.6;
  text-align: start;
}

.author {
  color: var(--header-color);
  text-align: start;
}

@media screen and (max-width: 1440px) {
  .about-comment-wrapper::after {
    height: 580px;
    width: 580px;
    right: -8%;
  }
}

@media screen and (max-width: 1280px) {
  .about-container {
    padding: 0 60px;
    margin-top: 80px;
  }

  .about-comment-wrapper {
    margin-top: 80px;
    max-height: 550px;
  }

  .about-comment-wrapper::after {
    height: 500px;
    width: 500px;
    top: -20%;
    right: 0%;
  }

  .about-comment {
    max-width: 850px;
    padding: 45px 60px;
    gap: 60px;
  }

  .content {
    max-width: 420px;
  }
}

@media screen and (max-width: 1024px) {
  .about-container {
    padding: 0 40px;
    margin-top: 60px;
  }

  .about-comment-wrapper {
    max-height: 500px;
    margin-bottom: 70px;
  }

  .about-comment-wrapper::after {
    height: 420px;
    width: 420px;
    top: -5%;
  }

  .about-title {
    text-align: center;
  }

  .about-comment {
    max-width: 700px;
    padding: 40px 50px;
    gap: 50px;
  }

  .content {
    max-width: 380px;
  }
}

@media screen and (max-width: 900px) {
  .about-container {
    padding: 0 30px;
    margin-top: 50px;
    gap: 20px;
  }

  .about-comment-wrapper {
    max-height: none;
    flex-direction: column;
    align-items: center;
  }

  .about-comment-wrapper::after {
    position: relative;
    height: 300px;
    width: 300px;
    top: 50px;
    right: 0;
    margin-top: 30px;
    z-index: 3;
  }

  .about-comment {
    max-width: 100%;
    padding: 70px 35px;
    gap: 40px;
    order: 1;
  }

  .content {
    max-width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .about-container {
    padding: 0 20px;
  }

  .about-comment {
    padding: 25px 30px;
    gap: 35px;
  }

  .about-comment-wrapper::after {
    height: 260px;
    width: 260px;
    top: 25px;
  }
}

@media screen and (max-width: 479px) {
  .about-container {
    padding: 0 16px;
    margin-top: 40px;
  }

  .about-comment {
    padding: 20px 25px;
    gap: 30px;
    border: 2px solid #ffffff;
  }

  .about-comment-wrapper {
    margin-top: 40px;
  }

  .about-comment-wrapper::after {
    height: 220px;
    width: 220px;
    margin-top: 20px;
  }
}