.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  background-color: white;
  box-shadow: 0px 0px 10px 0px #10398226;
  backdrop-filter: blur(10px);
}

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
  box-sizing: border-box;
  position: relative;
}

.header-logo-container {
  position: relative; 
  background-image: url("../../assets/images/logo-clippath.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px 78px; 
  clip-path: polygon(0 0, 100% 0, calc(100% - 2.4rem) 100%, 0 100%);
}

.header-logo-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  background: #00c0f3;
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 400px; 
  height: 100%;
  width: 200px; 
  background: #00c0f3;
  z-index: -1;
  pointer-events: none; 
  clip-path: polygon(0 0, 100% 0, calc(100% - 2.4rem) 100%, 0 100%);
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative; 
  z-index: 1;
}

.header-buttons {
  padding-right: 78px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  flex-wrap: wrap;
  position: relative; 
  z-index: 1;
}

@media (max-width: 1024px) {
  .header-logo-container {
    padding: 0px 78px;
  }

  .header-buttons {
    gap: 30px;
    padding-right: 78px;
  }
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    background-color: #00c0f3;
  }

  .header-logo-container {
    padding: 0px 0px;
    width: 100%;
  }

  .header-logo {
    justify-content: center;
  }

  .header-buttons {
    gap: 20px;
    padding-right: 0px;
    margin-bottom: 20px;
  }

  .header-logo {
    gap: 0;
  }
}
