.header-wrapper {
  background: url("../../assets/images/header-bg.png") no-repeat center top;
  background-size: 100% auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  min-height: 85px;
  padding: 12px 16px;

  box-sizing: border-box;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

@media (min-width: 768px) {
  .header {
    padding: 16px 40px;
  }

  .header-buttons {
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 17px 78px;
  }

  .header-buttons {
    gap: 30px;
  }
}
