:root {
  --header-color: #103982;
  --text-color: #7C7C7C;
}

* {
  margin: 0;
  padding: 0;
  text-shadow: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Font */
.size--10 { font-size: 10px; }
.size-12 { font-size: 12px; }
.size--14 { font-size: 14px; }
.size--16 { font-size: 16px; }
.size--18 { font-size: 18px; }  
.size--20 { font-size: 20px; }
.size--24 { font-size: 24px; }
.size--28 { font-size: 28px; }
.size--30 { font-size: 30px; }
.size--40 { font-size: 40px; }
.size--48 { font-size: 48px; }
.size--50 { font-size: 50px; }
.size--60 { font-size: 60px; }
.size--70 { font-size: 70px; }

.weight--100 { font-weight: 100; }
.weight--200 { font-weight: 200; }
.weight--300 { font-weight: 300; }
.weight--400 { font-weight: 400; }
.weight--500 { font-weight: 500; }
.weight--600 { font-weight: 600; }
.weight--700 { font-weight: 700; }

.heading {
  color: var(--header-color);
  font-weight: bold;
  font-family: "Merriweather", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text {
  color: var(--text-color);
}
